@import '../../App.scss';

.nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 10vh;

	&__dynamic-logo,
	&__list {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
	&__dynamic-logo {
		font-size: 30px;
		&__link {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-left: 5vw;
		}
	}
	&__list {
		width: 30%;
		list-style: none;
		font-size: 20px;
	}	
}
